html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    background-color: #141414;
    font-family: 'Source Code Pro', monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #fefff5;
    padding: none;
    pointer-events: none;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#ui::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#ui {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#ui {
    pointer-events: none;
    position: absolute;
    left: 0px;
    width: 20vw;
    padding: 2vw;
    overflow-y: scroll;
    height: 100%;
}

#ui * {
    pointer-events: all;
    margin-bottom: 5px;
}

svg {
    position: absolute;
    left: 24vw;
    top: 0px;
    z-index: -1;
    pointer-events: all;
    height: 100vh;
    width: 76vw;
}

h1 {
    margin-top: 0px;
    font-size: 1.9em;
}

p {
    margin: 0px;
}

img {
    display: inline-block;
    width: 100%;
    border: 1px solid white;
}

canvas {
    border: 1px solid white;
}

.slider,
.text_entry,
#regenerate {
    width: 100%;
}

.slider-number {
    background: #141414;
    color: #fefff5;
    border: 1px solid cyan;
    font-family: inherit;
    font-size: 0.9em;
    padding: 2px 4px;
    width: 5em;
}

.text_entry {
    min-height: 20px;
    overflow: wrap;
}

#regenerate {
    height: 60px;
}

button {
    background: none;
    border: 2px solid cyan;
    color: cyan;
    width: 100%;
    min-height: 40px;
}

button:hover {
    background: cyan;
    border: none;
    color: black;
}

label {
    display: block;
    margin: none;
}

.padding_large {
    height: 100px;
}

a {
    text-decoration: none;
    color: aqua;
}

@media only screen and (orientation: portrait) {
    body {
        overflow-y: scroll;
        overflow-x: wrap;
    }

    svg {
        display: block;
        height: 90vw;
        width: 100%;
        position: static;
    }

    #ui {
        display: block;
        width: auto;
        position: static;
        padding: 50px;
        height: auto;
    }
}